:root {
	color-scheme: light dark;

	--light-background: #fc8dac;
	--light-color: #1b1b1b;

	--dark-background: #1b1b1b;
	--dark-color: #fc8dac;
}

* {
	background-color: light-dark(var(--light-background), var(--dark-background));
	color: light-dark(var(--light-color), var(--dark-color));
}

body {
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;

/*	background-color: #fc8dac;
	color: #1b1b1b;*/
	text-align: center;
}

h1 {
	font-weight: 500;
}

p {
	font-weight: 400;
}
