:root {
	color-scheme: light dark;
	--pink: #fc8dac;
	--black: #1b1b1b;
}

::selection {
	color: light-dark(var(--pink), var(--black));
	background: light-dark(var(--black), var(--pink));
}

* {
	background-color: light-dark(var(--pink), var(--black));
	color: light-dark(var(--black), white);
}

body {
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	text-align: center;
}

img {
	border-radius: 50%;
	margin-top: 3rem;
}

h1 {
	font-weight: 500;
	margin: 0;
}

p {
	font-weight: 400;
	margin: 0.5rem;
}

svg {
	display: block;

	width: 2.5rem;
	height: auto;
	margin: 0 0.7rem;

	transition: transform 0.2s;
	fill: light-dark(var(--black), white);
}

.title-subtitle {
	margin: 1rem 1rem 1.3rem 1rem;
}

.button-wrapper {
	display: inline-block;
	box-shadow: 8px 8px 0px 0px light-dark(var(--black), white);
}

.cv-button {
	display: block;

	background-color: light-dark(white, var(--black));
	color: light-dark(var(--black), white);

	font-family: inherit;
	font-size: 1.1rem;

	text-decoration: none;
	cursor: default;

	border-style: solid;
	border-width: 2px;
	border-color: light-dark(var(--black), white);
}

.social {
	display: flex;
	justify-content: center;
	margin-top: 1.8rem;
}

/* Hover transitions on desktop only (768px an up) */
@media screen and (min-width: 768px) {
	.cv-button:hover {
		transform: translate(5px, 5px);
	}

	svg:hover {
		transform: scale(1.2);
	}
}

@media screen and (min-width: 618px) {
	.cv-button {
		padding: 1em 10em;
	}
}

@media screen and (max-width: 618px) and (min-width: 548px) {
	.cv-button {
		padding: 1em 8em;
	}
}

@media screen and (max-width: 548px) and (min-width: 477px) {
	.cv-button {
		padding: 1em 6em;
	}
}

@media screen and (max-width: 477px) and (min-width: 407px) {
	.cv-button {
			padding: 1em 4em;
		}
}

@media screen and (max-width: 407px) and (min-width: 337px) {
	.cv-button {
			padding: 1em 2em;
		}
}

@media screen and (max-width: 337px) {
	.cv-button {
			padding: 1em 1em;
		}
}
